.home{
    -fx-background-color:#F55;
}
.espaceA{
    -fx-background-color:#973CB6;
}
.espaceB{
    -fx-background-color:#5EC64D;
}
.espaceC{
    -fx-background-color:#29AAE2;
}
.espaceD{
    -fx-background-color:#FFC225;
}
.espaceE{
    -fx-background-color:#ED47C5;
}
.espaceF{
    -fx-background-color:#BD69FF;
}
.menu{
    -fx-background-color:#223d72;
}
.parent{
    -fx-background-color:#223d72;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #2DBABA; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER;
}
.table-view .cell{
   -fx-cell-size: 35;
  -fx-alignment: center-left;
  -fx-text-fill: #222424;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
   -fx-background-color: #96D4D4; 
   -fx-text-background-color: #394343;
}
.text-area:focused {
 -fx-background-color:  #BBC9C9;
 -fx-border-color: rgba(229,0,0,0.3);
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.bg-black-style {
    -fx-background-color:  #E3ECEC;
}
.round-red {
    -fx-background-color: linear-gradient(#E7D4D4, #D0C8C8);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}